@{
    ViewBag.Title = "Home Page";
    ViewBag.IsProductionsActive = true;
}

<h1>Productions</h1>

<article role="slider">
    <div class="slide-viewer">
        <div class="slide-group">
            <div class="slide slide-1">
                <a href="@Url.Action("ProductionOne","Productions")"><img alt="slide show image" src="~/Images/Large/sean_stopkiss_cast_large.jpg" /></a>
            </div>
            <div class="slide slide-2">
                <a href="@Url.Action("ProductionOne","Productions")"><img alt="slide show image" src="~/Images/Large/sean_lysistrata_large.jpg" /></a>
            </div>
            <div class="slide slide-3">
                <a href="@Url.Action("ProductionOne","Productions")"><img alt="slide show image" src="~/Images/Large/sean_mirror_large.jpg" /></a>
            </div>
        </div>
    </div>
    <div class="slide-buttons"></div>
</article>

<article role="grid">
    <div class="nav-card-grid">
        <div class="nav-card nav-card-1">
            <img alt="Still from Lysistrata" src="~/Images/sean_lysistrata.jpg" />
            <div class="nav-card_title1">Lysistrata</div>
            <div class="nav-card_details1">
                <p>Student Performance</p>
                <p>(Actor)</p>
            </div>
            <a href="@Url.Action("ProductionOne","Productions")"><div class="nav-card_gray nav-card_gray-1"> </div></a>
        </div>

        <div class="nav-card nav-card-2">
            <img alt="Still from Lysistrata" src="~/Images/sean_lysistrata.jpg" />
            <div class="nav-card_title2">Title</div>
            <div class="nav-card_details2">
                <p>Details</p>
                <p>More Details</p>
            </div>
        </div>

        <div class="nav-card nav-card-3">
            <img alt="Still from Lysistrata" src="~/Images/sean_lysistrata.jpg" />
            <div class="nav-card_title3">Title</div>
            <div class="nav-card_details3">
                <p>Details</p>
                <p>More Details</p>
            </div>
        </div>

        <div class="nav-card nav-card-1">
            <img alt="Still from Lysistrata" src="~/Images/sean_lysistrata.jpg" />
            <div class="nav-card_title1">Lysistrata</div>
            <div class="nav-card_details1">
                <p>Student Performance</p>
                <p>(Actor)</p>
            </div>
            <a href="@Url.Action("ProductionOne","Productions")"><div class="nav-card_gray nav-card_gray-1"> </div></a>
        </div>

        <div class="nav-card nav-card-1">
            <img alt="Still from Lysistrata" src="~/Images/sean_lysistrata.jpg" />
            <div class="nav-card_title1">Lysistrata</div>
            <div class="nav-card_details1">
                <p>Student Performance</p>
                <p>(Actor)</p>
            </div>
            <a href="@Url.Action("ProductionOne","Productions")"><div class="nav-card_gray nav-card_gray-1"> </div></a>
        </div>
    </div>
    <div class="clearfix"></div>
</article>

@section scripts {
    <script src="~/Scripts/slider.js"></script>
}