<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sean's Portfolio</title>
    @Styles.Render("~/Content/css2")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="body-container">
        <header>
            <p class="title">
                Sean Kimbro
            </p>
            <p class="title-sub">Artistic Direction. Design. Theatre.</p>

            <nav>
                <ul>
                    @if (ViewBag.IsProductionsActive != null && ViewBag.IsProductionsActive)
                    {
                        <li><a href="/Home/Index" class="nav-1 active">Productions</a></li>
                    }
                    else
                    {
                        <li><a href="/Home/Index" class="nav-1">Productions</a></li>
                    }
                    @if (ViewBag.IsBioActive != null && ViewBag.IsBioActive)
                    {
                        <li><a href="/Home/Bio" class="nav-2 active">Bio</a></li>
                    }
                    else
                    {
                        <li><a href="/Home/Bio" class="nav-2">Bio</a></li>
                    }
                    @if (ViewBag.IsResumeActive != null && ViewBag.IsResumeActive)
                    {
                        <li><a href="/Home/Resume" class="nav-3 active">Resume</a></li>
                    }
                    else
                    {
                        <li><a href="/Home/Resume" class="nav-3">Resume</a></li>
                    }
                    @if (ViewBag.IsContactActive != null && ViewBag.IsContactActive)
                    {
                        <li><a href="/Home/Contact" class="nav-4 active">Contact</a></li>
                    }
                    else
                    {
                        <li><a href="/Home/Contact" class="nav-4">Contact</a></li>
                    }
                </ul>
                <div class="clearfix"></div>
            </nav>
            
        </header>

        <div class="body-content">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sean's Portfolio!</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
